[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipython = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
pillow = "*"
drf-yasg = "*"
flex = "*"
django-dotenv = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
