[Unit] 
Description=Django-RQ Worker 
After=network.target 

[Service] 
WorkingDirectory=/code/
ExecStart=/usr/local/bin/python /code/manage.py rqworker high default low 

[Install] 
WantedBy=multi-user.target
