{% load static %}
<div
  class="card border-primary mb-3"
  data-aos="fade-up"
  data-aos-duration="1200"
  data-aos-delay="600"
>
  <div
    class="row card-body justify-content-center"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="300"
  >
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 m-3">
      <img
        style="display: block; margin: 0px auto;}"
				src="{% if item.bookImage %}{{ item.bookImage }}{% else %}{% static 'book_not_found.png' %}{% endif %}"
        alt="Book Image {{ item.title }}"
      />
    </div>
    <div
      class="col-xl-9 col-lg-9 col-md-9 col-sm-11 m-2"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-delay="0"
    >
      <a class="text-body" href="{% url 'front:detail' item.isbn %}">
        <p
          class="lead text-dark text-sm-center text-md-left text-lg-left text-xl-left "
        >
          {{ item.title }}
        </p>
        <p>{{ item.description }}</p>
      </a>
      {% if item.avg_star > 0 %}
			{% include "partials/star_rating.html" with star=item.avg_star %}
        {% endif %}

      <p>
        {% if item.num_views >= 0 %}
        <span class="mr-3">
          조회수 : {{ item.num_views }}
        </span>
        {% endif %} {% if item.like_count %}
        <span class="mr-3">
          좋아요 : {{ item.like_count }}
        </span>
        {% endif %} {% if item.review_count %}
        <span class="mr-3">
          리뷰 : {{ item.review_count }} 개
        </span>
        {% endif %}
      </p>
      <p>{{ item.author }} | {{ item.pub_year }}</p>

				{% if item.keywords %}
				<p>
        {% for keyword in item.keywords %}
        <span class="mr-2"
          >#
          <a href="{% url 'front:keyword' keyword.word %}"
            >{{ keyword.word }}</a
          ></span
        >
        {% endfor %}
      </p>
					{% endif %}

    </div>
  </div>
</div>
