{% load static %}

<footer class="pt-70 pb-65 bg-light text-center footer_2">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div
        class="col-12 lh-40"
        data-aos-duration="600"
        data-aos="fade-down"
        data-aos-delay="0"
      >
        <a href="#" class="link color-main mx-20">Portfolio</a>
        <a href="#" class="link color-main mx-20">How it Works</a>
        <a href="#" class="link color-main mx-20">Pricing</a>
        <a href="#" class="link color-main mx-20">About</a>
        <a href="#" class="link color-main mx-20">Contacts</a>
      </div>
      <div
        class="mt-20 col-12"
        data-aos-duration="600"
        data-aos="fade-down"
        data-aos-delay="300"
      >
        <div class="color-heading text-adaptive">
          Be sure to take a look at our
          <a href="#" class="link color-heading">Terms of Use</a> and
          <a href="#" class="link color-heading">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
