  <div class="mb-3">
		<p class="text-center">
        <a href="https://academy.nomadcoders.co/" class="m-2">NomadCoder</a>
        <a href="http://hackathon.coo.kr/" class="m-2 ">Hackathon</a>
        <a href="https://github.com/tomriddle7/goodreads-front" class="m-2 ">톰리들의 github</a>
        <a href="https://github.com/feud72/goodreads-server" class="m-2 ">SH KIM의 github</a>
    </p>
		<p class="text-center">
          Be sure to take a look at our
          <a href="#">Terms of Use</a> and
          <a href="#">Privacy Policy</a>
		</p>
  </div>
