{% load static %}

<!-- Footer 2 -->

<footer class="pt-70 pb-65 bg-light text-center footer_2">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div
        class="col-12 lh-40"
        data-aos-duration="600"
        data-aos="fade-down"
        data-aos-delay="0"
      >
        <a href="#" class="link color-main mx-20">Portfolio</a>
        <a href="#" class="link color-main mx-20">How it Works</a>
        <a href="#" class="link color-main mx-20">Pricing</a>
        <a href="#" class="link color-main mx-20">About</a>
        <a href="#" class="link color-main mx-20">Contacts</a>
      </div>
      <div
        class="mt-20 col-12"
        data-aos-duration="600"
        data-aos="fade-down"
        data-aos-delay="300"
      >
        <div class="color-heading text-adaptive">
          Be sure to take a look at our
          <a href="#" class="link color-heading">Terms of Use</a> and
          <a href="#" class="link color-heading">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- forms alerts -->
<div
  class="alert alert-success alert-dismissible fixed-top alert-form-success"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Thanks for your message!
</div>
<div
  class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Please, fill in required fields.
</div>
<div
  class="alert alert-danger alert-dismissible fixed-top alert-form-error"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  An error occurred while sending data :(
</div>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Google maps JS API -->
<script
  type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"
></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<!-- Startup 3 JS (Custom js for all blocks) -->
<script src="{% static 'js/script.js' %}"></script>
