<!-- Navigation 2 -->

<nav class="pt-30 pb-30 bg-light lh-40 navigation_2">
	<div class="container px-xl-0">
		<div class="row align-items-center justify-content-between">
			<div class="col-xl-2 col-lg-3 text-center text-lg-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<a href="/" class="mr-20 link color-main f-24 bold">GoodReads 클론</a>
			</div>
			<div class="col-xl-10 col-lg-9 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
				<div class="mb-10 mb-md-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
					<div class="d-inline-block px-20 dropdown">
						<a href="#" class="link color-main  dropdown-toggle" id="navigation_2_dropdown_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">추천리스트</a>
						<div class="bg-light dropdown-menu" aria-labelledby="navigation_2_dropdown_1">
					<div><a href="/" class="link color-main ">인기 순</a></div>
					<div><a href="#" class="link color-main ">Slides</a></div>
					<div><a href="#" class="link color-main ">Qards</a></div>
						</div>
					</div>
					<a href="#" class="mx-15 link color-main ">Pricing</a>
					<a href="#" class="mx-15 link color-main ">Community</a>
				</div>
				<div class="text-md-right" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
					<a href="http://feud72.hopto.org/api/v1/swagger/" class="mr-15 link color-main ">API</a>
					<a href="login" class="mx-15 link color-main ">로그인</a>
					<a href="signup" class="mx-15 btn sm color-main border-gray f-16">회원가입</a>
				</div>
			</div>
		</div>
	</div>
</nav>
