<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'front:home' %}">개미는 뚠뚠</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'front:popular' %}">인기 도서</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'front:popular' sort='recent' %}" class="nav-link">최근 등록된 책</a>
      </li>
      {% if status is True %}
      <li class="navbar-nav">
        <a class="nav-link" href="{% url 'front:shelf' %}">내 책장</a>
      </li>
      {% endif %}
    </ul>
    {% if status is True %}
    <li class="navbar-nav">
      <a class="nav-link" href="{% url 'front:me' %}">내 정보</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" href="{% url 'front:logout' %}">로그아웃</a>
    </li>
    {% else %}
    <li class="navbar-nav">
      <a class="nav-link" href="{% url 'front:login' %}">로그인</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" href="{% url 'front:signup' %}">회원가입</a>
    </li>
    {% endif %} {% include 'partials/search-form.html' %}
  </div>
</nav>
