<!-- Navigation 2 -->

<nav class="pt-30 pb-30 bg-light lh-40 navigation_2">
  <div class="container px-xl-0">
    <div class="row align-items-center justify-content-between">
      <div
        class="col-xl-2 col-lg-3 text-center text-lg-left"
        data-aos-duration="600"
        data-aos="fade-down"
        data-aos-delay="0"
      >
        <a href="{% url 'front:home' %}" class="mr-20 link color-main f-24 bold"
          >개미는 뚠뚠</a
        >
      </div>
      <div
        class="col-xl-10 col-lg-9 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between"
      >
        <div
          class="mb-10 mb-md-0"
          data-aos-duration="600"
          data-aos="fade-down"
          data-aos-delay="300"
        >
          <a href="{% url 'front:home' %}" class="mx-15 link color-main "
            >Home</a
          >
          <a href="#" class="mx-15 link color-main ">My Shelf</a>
        </div>
        <div
          class="text-md-right"
          data-aos-duration="600"
          data-aos="fade-down"
          data-aos-delay="600"
        >
          <a
            href="http://feud72.hopto.org/api/v1/swagger/"
            class="mr-15 link color-main "
            >API</a
          >
          <a href="{% url 'front:login' %}" class="mx-15 link color-main "
            >로그인</a
          >
          <a
            href="{% url 'front:signup' %}"
            class="mx-15 btn sm color-main border-gray f-16"
            >회원가입</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
