{% extends "base.html" %} {% block content %} {% load static %}

<!-- Application 2 -->

<section class="pt-65 pb-65 bg-light application_2">
  <div class="container px-xl-0">
    <div
      class="row justify-content-center justify-content-content-center align-items-center"
    >
      <div
        class="mb-15 mb-md-0 col-12 col-md-2 col-xl-2 d-flex justify-content-center"
      >
        <img
          srcset="{{ item.bookImage }}"
          src="{{ item.bookImage }}"
          alt=""
          class="img-fluid application_2_left_img"
          data-aos-duration="500"
          data-aos="fade-down"
          data-aos-delay="650"
        />
      </div>
      <div class="col-md-7 col-xl-7">
        <h4
          class="col-lg-11 color-main"
          data-aos-duration="500"
          data-aos="fade-down"
          data-aos-delay="0"
        >
          {{ item.title }}
        </h4>
      </div>
      <div
        class="col-12 col-md-9 mt-25 col-lg-9 color-heading f-18 text-adaptive
				d-flex justify-content-center"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="150"
      >
        {{ item.description }}
      </div>
      <div
        class="col-12 col-md-9 mt-95 row
				d-flex justify-content-flex-start"
      >
        <div
          class="col-12 col-md-12 col-lg-4 pb-25 with_borders"
          data-aos-duration="500"
          data-aos="fade-down"
          data-aos-delay="250"
        >
          {{ item.author }} | {{ item.pub_year }} | {{ item.publisher }} | ISBN
          {{ item.isbn }}
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row justify-content-center">
  <h3>Recommend</h3>
</div>
{% for item in recommend %}

<section class="pt-65 pb-65 bg-light application_2">
  <div class="container px-xl-0">
    <div
      class="row justify-content-center justify-content-content-center align-items-center"
    >
      <div class="col-md-5 col-xl-5 col-lg-4">
        <h4
          class="col-lg-11 color-main"
          data-aos-duration="500"
          data-aos="fade-down"
          data-aos-delay="0"
        >
          {{ item.item.title }}
        </h4>
      </div>
      <div
        class="col-md-4 col-xl-4 mt-25 col-lg-4 color-heading f-18 text-adaptive
          pb-25 with_borders"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="250"
      >
        {{ item.item.author }} | {{ item.item.pub_year }}
      </div>
    </div>
  </div>
</section>

{% endfor %} {% endblock content %}
