{% extends "base.html" %} {% block content %} {% load static %}
<section class="p-2">
  <h3 class="mt-3 mb-3">
    상세 정보
  </h3>
  <hr class="my-4" />
  <div class="row mb-3">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 m-3">
      <img
        style="display: block; margin: 0px auto;}"
        src="{{ item.bookImage }}"
        alt="Book Image {{ item.title }}"
      />
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-11 m-2">
      <p
        class="lead text-dark text-sm-center text-md-left text-lg-left text-xl-left"
      >
        {{ item.title }}
      </p>
      <p>
        {{ item.description }}
      </p>
      <p>
        {{ item.author }} | {{ item.pub_year }} | {{ item.publisher }}
      </p>
      {% if status is True %}
      <form action="{% url 'front:subscribe' %}" method="post">
				{% else %}
      <form action="{% url 'front:login' %}" method="post">
				{% endif %}
        {% csrf_token %}
        <input type="hidden" name="isbn" value="{{ item.isbn }}" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
					구독{% if status is False %}
					하려면 로그인하세요.{% endif %}
        </button>
      </form>
    </div>
  </div>
</section>

<hr class="my-4" />
<section class="p-2">
  <h3 class="mt-3">연관 도서</h3>
  <hr class="my-4" />
  {% for item in recommend %}
  <a href="{% url 'front:detail' item.item.isbn %}">
    <h5>
      {{ item.item.title }}
    </h5>
  </a>
  <p>{{ item.item.author }} | {{ item.item.pub_year }}</p>
  {% endfor %}
</section>
{% endblock content %}
