{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron">
  {% if status %}
  <p class="lead text-center">{{ nickname }}님, 좋은 하루 보내세요. :)</p>
  {% endif %}
  <h2 class="display-4 text-center">
    Good Reads Clone
  </h2>
  <p class="lead p-1 text-center">
    개미는 (뚠뚠) 오늘도(뚠뚠)<br />
    열심히 일을 하네<br />
    개미는 언제나<br />
    열심히 일을 하네
  </p>
  <div class="mt-5 ml-1 row">
    <h3 class="mb-0">
      인기 도서
    </h3>
    <p class="mb-0">
      <a class="btn btn-secondary ml-3" href="{% url 'front:popular' %}"
        >더 보기</a
      >
    </p>
  </div>
  <hr class="my-4" />
  <div
    class="responsive
        card border-primary mb-3"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="300"
  >
    {% for item in popular %}
    <div
      class="card-body text-center"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-delay="0"
    >
      <a class="text-body" href="{% url 'front:detail' item.isbn %}">
        <img
          style="display: block; margin: 0px auto;"
          src="{{ item.bookImage }}"
          alt="Book Image {{ item.title }}"
        />
        <p class="pt-2 pb-0 mb-1">
          {{ item.title }}
        </p>
        <p class="small pb-0 mb-1">{{ item.author }} | {{ item.pub_year }}</p>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="mt-5 ml-1 row">
    <h3 class="mb-0">
      최근 등록된 책
    </h3>
    <p class="mb-0">
      <a class="btn btn-secondary ml-3" href="{% url 'front:recent' %}"
        >더 보기</a
      >
    </p>
  </div>
  <hr class="my-4" />
  <div
    class="responsive
        card border-primary mb-3"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="300"
  >
    {% for item in recent %}
    <div
      class="card-body text-center"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-delay="0"
    >
      <a class="text-body" href="{% url 'front:detail' item.isbn %}">
        <img
          style="display: block; margin: 0px auto;"
          src="{{ item.bookImage }}"
          alt="Book Image {{ item.title }}"
        />
        <p class="pt-2 pb-0 mb-1">
          {{ item.title }}
        </p>
        <p class="small pb-0 mb-1">{{ item.author }} | {{ item.pub_year }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% if shelf %}
  <div class="mt-5 ml-1 row">
    <h3 class="mb-0">
      내 책장
    </h3>
    <p class="mb-0">
      <a class="btn btn-secondary ml-3" href="{% url 'front:recent' %}"
        >더 보기</a
      >
    </p>
  </div>
  <hr class="my-4" />
  <div
    class="responsive
        card border-primary mb-1 "
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="300"
  >
    {% for item in shelf %}
    <div
      class="card-body text-center"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-delay="0"
    >
      <a class="text-body" href="{% url 'front:detail' item.isbn %}">
        <img
          style="display: block; margin: 0px auto;"
          src="{{ item.bookImage }}"
          alt="Book Image {{ item.title }}"
        />
        <p class="pt-2 pb-0 mb-1">
          {{ item.title }}
        </p>
        <p class="small pb-0 mb-1">{{ item.author }} | {{ item.pub_year }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
