{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron">
  {% if status %}
  <p class="lead text-center">{{ nickname }}님, 좋은 하루 보내세요. :)</p>
  {% endif %}
  <h3 class="display-4 text-center">
    Good Reads Clone
  </h3>
	</div>
  {% url 'front:popular' as link %}
  {% include 'partials/slide.html' with title="인기 있는 책" link=link items=popular %}
  {% url 'front:popular' sort="recent" as link %}
  {% include 'partials/slide.html' with title="최근 등록된 책" link=link items=recent %}
  {% if shelf %}
  {% url 'front:shelf' as link %}
  {% include 'partials/slide.html' with title="내 책장" link=link items=shelf %}
  {% endif %}
  {% endblock content %}
</div>

