{% extends "base.html" %} {% block content %} {% load static %}
<section class="pt-120 pb-120 bg-dark form_1">
  <style>
    /* prettier-ignore */
    .form_1 {
      background-image: url({% static "i/form_1_bg.jpg" %});
    }
    @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
      /* prettier-ignore */
      .form_1 {
        background-image: url({% static "i/form_1_bg@2x.jpg" %});
      }
    }
  </style>

  <form action="{% url 'front:login' %}" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">SUBMIT</button>
  </form>

  <div class="container px-xl-0">
    <form
      action="{% url 'front:login' %}"
      method="post"
      class="bg-light mx-auto mw-430 radius10 pt-40 px-50 pb-30"
    >
      {% csrf_token %}
      <h2
        class="mb-40 small text-center"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="0"
      >
        로그인
      </h2>
      <div
        class="mb-20 input_holder"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="150"
      >
        <input
          type="email"
          name="email"
          placeholder="Your email"
          class="input border-gray focus-action-1 color-heading placeholder-heading w-full"
        />
      </div>
      <div
        class="mb-20 input_holder"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="250"
      >
        <input
          type="password"
          name="password"
          placeholder="Your password"
          class="input border-gray focus-action-1 color-heading placeholder-heading w-full"
        />
      </div>
      <div data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
        <button class="mt-25 btn action-1 w-full" type="submit">로그인</button>
      </div>
      <div
        class="mt-50 hr bg-gray h-1"
        data-aos-duration="500"
        data-aos="fade-down"
        data-aos-delay="650"
      ></div>
    </form>
  </div>
</section>
<!-- forms alerts -->
<div
  class="alert alert-success alert-dismissible fixed-top alert-form-success"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Thanks for your message!
</div>
<div
  class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Please, fill in required fields.
</div>
<div
  class="alert alert-danger alert-dismissible fixed-top alert-form-error"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  An error occurred while sending data :(
</div>

{% endblock content %}
