{% extends "base.html" %} {% block content %} {% load static %}
<h3 class="mt-3">
  내 정보
</h3>
<hr class="my-4" />
<div class="card border-primary mb-3">
  <div class="card-body justify-content-center">
    <p>별명 : {{ me.nickname }}</p>
    <p>회원 가입일 : {{ me.created_at }}</p>
    <a href="{% url 'front:me-edit' %}" class="btn btn-primary">정보 수정</a>
  </div>
</div>

<h3 class="mt-5">{{ me.nickname }} 님의 책장</h3>
<hr class="my-4" />

{% if book_list %} {% for item in book_list %}
<!-- prettier-ignore -->
{% include 'partials/book.html' %} {% endfor %} {% else %}
<p class="lead">책장에 책이 한 권도 없네요. 책을 구경하러 가시겠어요?</p>
<a class="btn btn-secondary" href="{% url 'front:recent' %}">구경하러 가기</a>

{% endif %} {% endblock content %}
