{% extends "base.html" %} {% block content %}
<div class="mt-3 d-flex justify-content-between align-items-center">
<h3 class="m-0">
  도서 리스트
</h3>
<ul class="nav nav-pills">
	<li class="nav-item dropdown m-0 p-0 "> 
		<a class="nav-link dropdown-toggle" data-toggle="collapse" data-target="#drop01" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			정렬 방식
	{% if sort == "recent" %}
	<span> : 최근 등록 순</span>
	{% elif sort == "star" %}
	<span> : 평점 순</span>
	{% elif sort == "hit" %}
	<span> : 조회수 순</span>
	{% endif %}
		</a> 
		<div class="dropdown-menu" id="drop01">
<a class="dropdown-item" href="{% url 'front:popular' %}star">평점 순</a>
	<a class="dropdown-item" href="{% url 'front:popular' %}recent">최근 등록 순</a>
<a class="dropdown-item" href="{% url 'front:popular' %}hit">조회수 순</a>
		</div>
	</li>
</ul>
</div>
<hr class="my-4" />
{% for item in book_list %} {% include 'partials/book.html' %} {% endfor %}
<!-- prettier-ignore -->
{% include 'partials/page.html' %}
{% endblock content %}
