{% extends "base.html" %} {% block content %}

<section class="pt-5 pb-5 bg-light text-center feature_2">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row justify-content-center">
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="600"
          >
            <div class="mb-20 f-18 medium title">
              최근 등록된 책
            </div>
            <div class="color-heading text-adaptive">
              유저들이 최근 등록한 책을 보여줍니다.
            </div>
            <a
              href="{% url 'front:recent' %}"
              class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="900"
          >
            <div class="mb-20 f-18 medium title">
              인기 대출 도서
            </div>
            <div class="color-heading text-adaptive">
              도서관 대출 횟수 상위권에 있는 도서들을 보여줍니다.
            </div>
            <a
              href="{% url 'front:popular' %}"
              class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="1200"
          >
            <div class="mb-20 f-18 medium title">
              내 책장
            </div>
            <div class="color-heading text-adaptive">
              내 책장에 보관된 책을 보여줍니다.<br />
              (준비 중입니다.)
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row justify-content-center">
  <h3 class="pb-30">최근 등록된 책</h3>
</div>
{% for item in items %}
<section class="pt-10 pb-10 bg-light content_2">
  <div class="container px-xl-0 text-left">
    <div class="row justify-content-center">
      <a href="{% url 'front:detail' item.isbn %}">
        <div class="row justify-content-center item-align-middle">
          <div
            class="col-xl-2 col-lg-2 col-md-2"
            data-aos-duration="500"
            data-aos="fade-down"
            data-aos-delay="250"
          >
            <img
              srcset="{{ item.bookImage }}"
              src="{{ item.bookImage }}"
              alt="Image: {{ item.title }}"
              class="img-fluid application_2_left_img"
              data-aos-duration="500"
              data-aos="fade-down"
              data-aos-delay="650"
            />
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 mb-50">
            <div
              class="col-11 col-xl-11 col-lg-11 col-md-11 pb-0"
              data-aos-duration="500"
              data-aos="fade-down"
              data-aos-delay="0"
            >
              <h4 class="col-11 col-xl-11 col-lg-11 col-md-11 mb-10 pl-0 pb-0">
                {{ item.title }}
              </h4>
            </div>
            <div
              class="col-xl-11 col-lg-11 col-md-11 mt-0 pt-0 pb-0 mb-0 f-18 medium color-heading op-7 text-adaptive"
              data-aos-duration="500"
              data-aos="fade-down"
              data-aos-delay="0"
            >
              {{ item.description }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endfor %} {% endblock content %}
