{% extends "base.html" %} {% block content %}
<section class="p-2">
  <div class="row justify-content-around">
    <h3 class="mt-3 mb-3">검색 결과</h3>
    <form
      action="{% url 'front:search' %}"
      class="form-inline my-2 my-lg-0"
      method="post"
    >
      {% csrf_token %}
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        name="term"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>

  <hr class="my-4" />
  {% for item in items %}
  <a href="{% url 'front:detail' item.isbn %}">
    <h5 class="text-dark">
      {{ item.title }}
    </h5>
    <p class="text-body">{{ item.description }}</p>
  </a>
  <p class="mb-5">{{ item.author }} | {{ item.pub_year }}</p>
  {% endfor %}
</section>
{% endblock content %}
