{% extends "base.html" %} {% block content %} {% load static %}
<h3 class="mt-3">
  회원가입
</h3>
<hr class="my-4" />
<div
  class="card border-primary mb-3"
  data-aos="fade-up"
  data-aos-duration="1200"
  data-aos-delay="300"
>
  <div
    class="card-body justify-content-center"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="0"
  >
    <form action="{% url 'front:signup' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <div class="form-group">
          <label for="InputEmail">이메일</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
          />
          {% if errors.email %} {% for error in errors.email %}
          <small id="emailError" class="form-text text-danger"
            >{{ error }}</small
          >
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          <label for="InputPassword1">비밀번호</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword1"
            placeholder="Password"
            name="password1"
          />
          {% if errors.password1 %} {% for error in errors.password1 %}
          <small id="password1Error" class="form-text text-danger"
            >{{ error }}</small
          >
          {% endfor %} {% endif %}
        </div>

        <div class="form-group">
          <label for="InputPassword2">비밀번호 확인</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword2"
            placeholder="Password"
            name="password2"
          />
          {% if errors.password2 %} {% for error in errors.password2 %}
          <small id="password2Error" class="form-text text-danger"
            >{{ error }}</small
          >
          {% endfor %} {% endif %}
        </div>
        <button type="Submit" class="btn btn-primary">제출</button>
      </fieldset>
    </form>
    <hr class="my-4" />
    <p class="mt-3 mb-0">또는</p>
    <a href="{% url 'front:kakao' %}">
      <img src="{% static 'kakao_login_button.png' %}" class="mt-3"
    /></a>
    <p class="text-danger mb-0">
      Caution: 선택 정보 항목 "이메일"에 꼭 체크해 주세요! 로그인에 필요합니다.
    </p>
  </div>
</div>
{% endblock content %}
